.frame {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.timer > span {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  font-variant-numeric: tabular-nums;
}

.colon {
  padding-bottom: 0.75rem;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.controller-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.controller-inputs > input {
  height: 2.5rem;
  width: 6rem;
  font-size: 1.25rem;
  padding-inline: 1.5rem;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border: none;
  &:disabled {
    background-color: transparent;
  }
}
.controller-inputs > span {
  font-size: 1.25rem;
}

.controller-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.controller-buttons > button {
  height: 3rem;
  width: 10rem;
  border-radius: 3rem;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  cursor: pointer;
  &:disabled {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: not-allowed;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
