.frame {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open {
  opacity: 1;
}

.closed {
  opacity: 0;
}

.timer {
  display: flex;
  align-items: center;
}

.timer > span {
  font-size: 7rem;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
}

.colon {
  padding-bottom: 1.35rem;
}

.timerstate {
  margin-bottom: 1.5rem;
}

.alarm {
  height: 3rem;
  transition: opacity 0.15s ease;
  margin-bottom: 3rem;
  background-color: aquamarine;
  border-radius: 2rem;
  display: flex;
  font-weight: 600;
  padding-inline: 2rem;
  justify-content: center;
  align-items: center;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.controller-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.controller-inputs > input {
  height: 2.5rem;
  width: 6rem;
  font-size: 1.25rem;
  padding-inline: 1.5rem;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border: none;
  outline: none;
  &:disabled {
    background-color: transparent;
  }

  &:focus {
    outline: 2px solid rgba(0, 0, 0, 0.75);
    outline-offset: 2px;
  }
}
.controller-inputs > span {
  font-size: 1.25rem;
}

.controller-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.controller-buttons > button {
  height: 3rem;
  width: 10rem;
  border-radius: 3rem;
  font-size: 1.1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.1s ease;

  &:hover {
    outline: 2px solid rgba(0, 0, 0, 0.75);
    outline-offset: 2px;
  }

  &:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.75);
    outline-offset: 2px;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: not-allowed;
    outline: none;
  }
}
